<template name="explanation">
    <p>This website lets you create an improv <a href="http://en.wikipedia.org/wiki/Johari_window">"Johari Window"</a>!  Here's how a Johari Window works: first, you pick out a half-dozen things you think you're good at.  Then, your friends each (anonymously) pick out a half-dozen things that *they* think you're good at.  Meanwhile, you (and you alone) can keep track of how your choices match up with theirs (or how they don't).</p>

    <p>(Since this is geared towards stage improvisors, it lists skills used in improvisation on stage.)</p>
</template>